body {
    margin: 0px;
}

.site-header {
    color: #2b5173;
    height: 100vh;
    font-family: monospace;
    display: flex; /* flex is an easier way to manage the placement of things prior to flexit was quite difficult to comlete this task */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #285386 2px 5px 5px;
}

.course-link {
    color: #ffffff;
}

/*Working o our RESUME*/

button {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	color: #285386;
	width: 210px;
	height: 70px;
	border: 1px solid #285386;
	font-size: 18px;
	border-radius: 4px;
	transition: .6s;
	overflow: hidden;
}

button:focus {
	outline: none;
}

button:before {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, .5);
	width: 60px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}

button:after {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, .2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}

button:hover {
	box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background: #285386;
	color: #fff;
	cursor: pointer;
}

button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .7s;
}

button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;	
}

